html,
body,
#root {
  height: 100%;
  width: 100%;
}

.blur {
  filter: blur(7rem);
  opacity: 0.9;
}

.question::placeholder {
  font-size: 1.5rem;
  color: rgba(17, 24, 39, 0.8) !important;
}

.option::placeholder {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(17, 24, 39, 0.8) !important;
}
.question-description::placeholder {
  font-weight: 100;
  color: rgba(17, 24, 39, 0.6) !important;
}
